
#pagekey-member-home #body, #pagekey-uas-consumer-login-internal #body {
margin-left: auto;
margin-right: auto;
width: 974px;
}
#section-header h1, #section-header h1 a, #page-title h1, #page-title h1 a {
font-size: 22px;
font-weight: bold;
line-height: 24px;
color: #000;
font-family: Arial, sans-serif;
}
h1 {
display: block;
font-size: 2em;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

.global-header .nav .nav-item {
float: left;
line-height: 13px;
position: relative;
}

.chrome-v5-responsive #body {
margin-top: 80px;
margin-bottom: 10px;
}

#body, .primary, .wrapper {
clear: both;
}

#body, #footer {
margin-left: auto;
margin-right: auto;
width: 974px;
}

#body {
margin-top: 50px;
margin-bottom: 10px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
-webkit-text-size-adjust: 100%;
}

div {
display: block;
}

#body:after, .primary:after, .wrapper:after, #footer:after{
content: "";
display: table;
clear: both;
}






#pagekey-uas-consumer-login-internal.en.guest.v2.chrome-v5.chrome-v5-responsive.background-v4.sticky-bg.js
.os-win body, .os-win input, .os-win select, .os-win textarea, .os-win button {
font-family: Arial,sans-serif;
}
.os-win body {
font-family: Arial,sans-serif;
}


#section-header, #page-title {
margin: 0 10px 15px 10px;
}

div {
display: block;
}

#section-header:after, #page-title:after {
content: "";
display: table;
clear: both;
}

#pagekey-uas-consumer-login-internal.en.guest.v2.chrome-v5.chrome-v5-responsive.background-v4.sticky-bg.js
.os-win body, .os-win input, .os-win select, .os-win textarea, .os-win button {
font-family: Arial,sans-serif;
}

.os-win body {
font-family: Arial,sans-serif;
}

body {
font-size: 62.5%;
line-height: 1.2;
color: #000;
}



#body .wrapper {
padding: 0 10px;
}
#body, .primary, .wrapper {
clear: both;
}












input[type="hidden"], input[type="image"], input[type="file"] {
-webkit-appearance: initial;
padding: initial;
background-color: initial;
border: initial;
}

input[type="hidden"] {
display: none;
}
input, input[type="password"], input[type="search"], isindex {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}







input[data-ime-mode-disabled] {
ime-mode: disabled !important;
}


input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
padding: 1px 0px;
}
input:-webkit-autofill {
background-color: rgb(250, 255, 189);
background-image: none;
color: rgb(0, 0, 0);
}
input, input[type="password"], input[type="search"], isindex {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}


.btn-primary, .btn-menu-open.btn-primary, .btn-split.btn-primary:hover {
background: #0571A6;
background: -moz-linear-gradient(top, #73aec9 0, #73aec9 1px, #338ab0 1px, #0571a6 100%);
background: -o-linear-gradient(top, #73aec9 0, #73aec9 1px, #338ab0 1px, #0571a6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73aec9), color-stop(5%, #73aec9), color-stop(5%, #338ab0), color-stop(100%, #0571a6));
background: linear-gradient(top, #73aec9 0%,#73aec9 1px,#338ab0 1px,#0571a6 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#338AB0', endColorstr='#0571A6',GradientType=0 );
border-color: #045a8b;
color: #fff !important;
}
.btn-primary, .btn-new-primary, .btn-secondary, .btn-new-secondary, .btn-tertiary, .btn-ternary, .btn-quaternary, .btn-action {
border-width: 1px;
border-style: solid;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
cursor: pointer;
font-size: 12px;
line-height: 1.35;
margin: 0;
overflow: visible;
padding: 3px 10px 2px;
text-decoration: none !important;
vertical-align: top;
width: auto;
}


element.style {
line-height: 23px;
}







#pagekey-member-home #body, #pagekey-uas-consumer-login-internal #body {
margin-left: auto;
margin-right: auto;
width: 974px;
}
.chrome-v5-responsive #body {
margin-top: 80px;
margin-bottom: 10px;
}
#body, .primary, .wrapper {
clear: both;
}


div.alert.error {
background: #fee url('images/sprite_global_v8.png') no-repeat 7px -643px;
}
div.alert {
color: #333;
background-color: #fff;
margin: 0 0 15px;
padding: 6px 7px 6px 35px;
overflow: hidden;
min-height: 28px;
position: relative;
}
.alert {
margin-bottom: 10px;
}



.global-header {
background: #333;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555), color-stop(18%, #515151), color-stop(85%, #373737), color-stop(100%, #333));
background-image: -webkit-linear-gradient(top, #555 0%,#515151 18%,#373737 85%,#333 100%);
background-image: -moz-linear-gradient(top, #555 0%,#515151 18%,#373737 85%,#333 100%);
background-image: -o-linear-gradient(top, #555 0%,#515151 18%,#373737 85%,#333 100%);
background-image: linear-gradient(top, #555 0%,#515151 18%,#373737 85%,#333 100%);
-webkit-box-shadow: 0 0 10px #333;
-moz-box-shadow: 0 0 10px #333;
box-shadow: 0 0 10px #333;
font-size: 13px;
line-height: 17px;
color: #333;
font-weight: normal;
z-index: 10001;
height: 42px;
position: fixed;
top: 0;
width: 100%;
}

#top-header {
z-index: 2;
position: relative;
}

 #top-header {
background-color: #3F3F3F;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #3F3F3F));
background-image: -webkit-linear-gradient(top, #696969 0%,#3F3F3F 100%);
background-image: -moz-linear-gradient(top, #696969 0%,#3F3F3F 100%);
background-image: -o-linear-gradient(top, #696969 0%,#3F3F3F 100%);
background-image: linear-gradient(top, #696969 0%,#3F3F3F 100%);
height: 42px;
}

.global-header .wrapper:after {
content: "\0020";
display: block;
height: 0;
clear: both;
overflow: hidden;
visibility: hidden;
}

.wrapper 
{
	margin-left: auto;
	margin-right: auto;
	width: 974px;
	position: relative;
}

#top-header>.wrapper 
{
	z-index: 3;
}

.global-header .wrapper 
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#body, .primary, .wrapper 
{
	clear: both;
}

#li-logo 
{
	background: url(https://static.licdn.com/scds/common/u/images/logos/logo_linkedin_flat_white_98x25.png) left center no-repeat;
	width: 98px;
	color: transparent;
}


.wrapper
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
}


h2 
{
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	line-height: 17px;
	color: #333;
}

.global-header .nav.guest-nav 
{
	float: right;
}

.global-header .nav 
{
	float: right;
}


#navlist li a 
{
    color: #D7D7D7;
    text-decoration: none;
}

#navlist li a:hover
{
	color: #0077b5;
}



#header ul, menu, dir 
{
	display: block;
	margin-top: -35px;
	float: right;
}

#navlist li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}




.nav-v5-2-header .nav .nav-link 
{
	padding-left: 10px;
	padding-right: 10px;
	color: #D7D7D7;
}

.global-nav .a11y-skip-nav.a11y-hidden, .a11y-skip-nav-container .a11y-skip-nav.a11y-hidden {
position: absolute !important;
height: 1px;
width: 1px;
overflow: hidden;
clip: rect(1px, 1px, 1px, 1px);
}

#header .a11y-content, #header .a11y-content p 
{
	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
	height: 1px;
}

.a11y-skip-nav-container {
position: relative;
}

.global-nav .a11y-skip-nav, .a11y-skip-nav-container .a11y-skip-nav {
background-repeat: no-repeat;
background-color: #0073B2;
background-position: 50% 50%;
position: relative;
z-index: 10012;
font-size: 12px;
line-height: 14px;
color: #fff;
font-weight: normal;
-webkit-transition: max-height 0.7s linear;
-moz-transition: max-height 0.7s linear;
-o-transition: max-height 0.7s linear;
transition: max-height 0.7s linear;
max-height: 400px;
height: auto;
_height: 400px;
}


#footer {
font-size: 12px;
line-height: 14px;
color: #666;
font-weight: normal;
padding-top: 10px;
padding-bottom: 10px;
margin-left: auto;
margin-right: auto;
width: 974px;
border-top: 1px solid #ccc;
}

#body, #footer {
margin-left: auto;
margin-right: auto;
width: 980px;
}

#body:after, .primary:after, .wrapper:after {
content: "";
display: table;
clear: both;
}

#footer #copyright {
border-right: 1px solid #ccc;
margin-right: 8px;
padding-right: 8px;
margin-top: 5px;
margin-bottom: 5px;
float: left;
}

p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
#footer #copyright.guest span {
float: left;
height: 16px;
width: 62px;
text-indent: -119988px;
overflow: hidden;
text-align: left;
margin-left: 0px;
margin-right: 3px;
padding-left: 0px;
padding-right: 0px;
margin-top: -2px;
margin-bottom: -2px;
background: url('images/logo_linkedin_med_grey_trans_64x16_v1.png') no-repeat scroll top left transparent;
}



#footer .nav-footer>li, #footer #nav-legal>li {
border-right: 1px solid #ccc;
margin-right: 8px;
padding-right: 8px;
margin-top: 5px;
margin-bottom: 5px;
float: left;
}

#footer .nav-footer>li.last, #footer #nav-legal>li.last {
border-right: none;
}
#footer .nav-footer>li, #footer #nav-legal>li {
border-right: 1px solid #ccc;
margin-right: 8px;
padding-right: 8px;
margin-top: 5px;
margin-bottom: 5px;
float: left;
}
#body:after, #footer:after {
content: "";
display: table;
clear: both;
}


/********************************** for county listing ******************************/


ul.directory {
overflow: hidden;
zoom: 1;
margin: 0 0 20px 0;
/*list-style-type: disc;*/
}



a:visited, #footer a:visited {
color: #069;
}

a {
text-decoration: none;
color: #069;
font-family: Arial, sans-serif;
}


ul.directory {
zoom: 1;
list-style-type: disc;
}




ul.directory li {
width: 43%;
float: left;
font-size: 13px;
margin: 0 0 10px 1.2em;
list-style-type: disc;
}

li {


}

